{% extends 'base.html' %} 
{% load static %} 

{% block title %} 
Clínica | Seus Exames 
{% endblock title %} 

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"> 
{% endblock scripts %} 

{% block body %} 

<h3>Exames de {{roles.nome}}</h3><br>

{% for a in roles.examesFromPaciente.all %}
<div class= "details"></div>
    <p>Exame: {{a.texto}}</p>
    <p>Médico: {{a.medico.nome}}</p>
    <p>E-mail do Médico: {{a.medico.email}}</p>
    <p>Criado: {{a.created_at}}</p>
    <br>
    <br>
</div>
{% endfor %}


 

{% endblock body %}