{% extends 'base.html' %} 
{% load static %} 

{% block title %} 
Clínica | Exames 
{% endblock title %} 

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"> 
{% endblock scripts %} 

{% block body %} 

<h3>Exames feitos por {{ roles.nome }}</h3><br>

{% for a in roles.examesFromMedico.all %}
<div class= "details"></div>
    <p>Exame: {{a.texto}}</p>
    <p>Paciente: {{a.paciente.nome}}</p>
    <p>E-mail do Paciente: {{a.paciente.email}}</p>
    <p>Criado: {{a.created_at}}</p>
    <br>
    <br>
</div>
{% endfor %}


 

{% endblock body %}